*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{ 
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
    height: 100%;
    /* overflow-x: hidden; */
}

header{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
    position: fixed;
    width: 100%;
    z-index: 999;
}

/* main{
    height: 70%;
} */

section{
    background-color: #f4f4f4;
    color: #666;
    position: relative;
}

/* 
* For header logo
*/

.logo:link, .logo:visited{
    color: #f4f4f4;
    font-size: 26px;
    float: left;
    margin: 14px 0;
    font-weight: bold;
}

.logo:hover{
    text-decoration: none;
}

/* 
* For header navigation list and items
*/

.top-nav{
    position: relative;
    width: 100%;
    height: auto;
    padding: 0 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.top-nav-link{
    margin: 0;
    margin-top: 0;
    float: right;
    padding: 0;
    box-sizing: border-box;
}

.top-nav-link li{
    display: inline-block;
    margin: 0 10px;
    padding: 20px 0;
    text-transform: uppercase;
}

.top-nav-link li:first-of-type{
    margin-left: 0;
}

.top-nav-link li:last-of-type{
    margin-right: 0;
}

.top-nav-link li a:link, .top-nav-link li a:visited{
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: 5px 0;
    font-size: 12px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3 ease;
    -moz-transition: all 0.3 ease;
    -o-transition: all 0.3 ease;
    display: block;
    font-weight: 400;
    letter-spacing: 2px;
}

.top-nav-link li a:hover{
    text-decoration: none;
    border-bottom: 2px solid orange;
    color: rgb(255, 238, 5);
}

.header-change{
    background-color: rgb(93, 93, 93);
}

.header-change li a:link, .header-change li a:visited{
    color: rgb(221, 221, 221);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: 5px 0;
    font-size: 12px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3 ease;
    -moz-transition: all 0.3 ease;
    -o-transition: all 0.3 ease;
    display: block;
}

.header-change li a:hover{
    text-decoration: none;
    border-bottom: 2px solid orange;
    color: rgb(255, 238, 5);
}

/* 
* For header Hamburger/drop down button on 767px for mobile
*/

.hamburger{
    display: none;
}

/* 
* Back to top button
*/

.go-top{
    bottom: 20px;
    position: fixed;
    font-size: 20px;
    right: 25px;
    z-index: 800;
    background: #82b440;
    color: #f4f4f4;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    opacity: 0;
}

.go-top.show{
    opacity: 1;
}

.go-top:hover{
    background: #07AAA5;
    color: #f4f4f4;
}

/* 
* Carousel
*/

.first-carousel{
    padding: 26vh 0 20vh;
}

.offset{
    padding: 10px;
}

.carousel-control-prev, .carousel-control-next{
    width: 50%;
    margin: 20px 0 0;
}

.carousel-text{
    text-align: center;
    width: fit-content;
    padding: 10px;
    margin: 0 auto 20px;
    background-color: #282e34;
    color: #ddd;
    border: 1px solid #f4f4f4;
}

.carousel-text-under{
    text-align: center;
    color: #ddd;
    margin: 0px auto 30px;
    width: fit-content;
}

.carousel-item{
    transition: all .6s ease;
}

.carousel-indicators {
    position: relative;
}

.carousel-indicators li, .carousel-indicators .active{
    width: 30px;
    height: 10px;
    margin: 0 5px;
    border: 1px solid #282e34;
    background: #f4f4f4;
}

.carousel-indicators .active{
    background: #cc0707;
}

.second-carousel{
    opacity: 0.7;
    padding: 0 0 50px;
}

.second-carousel-text{
    text-align: center;
    margin: 80px 0 0;
}

/* 
* First sections imgages and text
*/

.offer{
    text-align: center;
    padding: 80px 0 20px;
}

.offer-items{
    margin-bottom: 50px;
}

.text-block{
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.img-enlarge{
    width: 100%;
    height: 80%;
    position: relative;
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}

.img-enlarge:hover{
    transform: scale(1.2, 1.2);
    opacity: 1;
}

.h2-margin{
    margin-top: 30px;
}

.first-sections-block{
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

/* 
* First parallax image for main
*/

.pimg1, .pimg2, .pimg3{
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1{
    background-image: url('img/paralax1.jpg');
    min-height: 100%;
}

.pimg2{
    background-image: url('img/paralax2.jpg');
    min-height: 400px;
}

.pimg3{
    background-image: url('img/paralax3.jpg');
    min-height: 400px;
}

/* 
* Second parralax div section
*/

.ptext{
    position: relative;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin: 200px auto;
}

.ptext .border{
    background-color: #111;
    opacity: 0.8;
    color: #f4f4f4;
    padding: 20px;
}

.pimg2 a:hover{
    text-decoration: none;
}

/* 
* To remove the unwanted border from bootstrap
*/

.second-paralax-padding, .third-paralax-padding{
    padding: 0;
}

.row{
    margin-right: 0;
    margin-left: 0;
}

/* 
* Youtube video/fancybox
*/

.youtube:visited, .youtube:link, .youtube:hover{
    text-decoration: none;
}

.youtube-text{
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
    opacity: 0.8;
    width: fit-content;
    margin: 200px auto;
}

.youtube-text h2{
    font-size: 50px;
    padding: 0 5px;
}

.youtube-text h2 span{
    color: red;
}

/* 
* Video at the end
*/

.video{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
}

.vid{
    padding: 50px 0;
}

.iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 0 40px;
}

/* 
* For tablet screen size
*/

@media only screen and (min-width: 768px) and (max-width: 1000px){
    .top-nav-link li {
        margin: 0 5px;
        margin-top: 0;
    }
    
    .top-nav-link li a:link, .top-nav-link li a:visited{
        letter-spacing: 1px;    
    }
}

/* 
* For mobile screen size
*/

@media only screen and (max-width: 767px){

    /* 
    * Turn parallax effect off for mobile screen size
    */

    .pimg1{
        background-attachment: scroll;
    }

    /* 
    * For header navigation list and items mobile screen size
    */

    .top-nav-link{
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-top: -393px;
        padding: 0;
    }

    .top-nav-link li{
        display: block;
        margin: 15px 0;
        text-align: center;
        padding: 0;
    }

    .top-nav-link li:hover{
        background-color: rgb(29, 30, 31);
        transition: all 0.3s ease;
        -webkit-transition: all 0.3 ease;
        -moz-transition: all 0.3 ease;
        -o-transition: all 0.3 ease;
    }

    .top-nav-link li:hover a{
        color: rgb(255, 255, 255);
        transition: all 0.3s ease;
        -webkit-transition: all 0.3 ease;
        -moz-transition: all 0.3 ease;
        -o-transition: all 0.3 ease;
    }
    
    .top-nav-link li a:link, .top-nav-link li a:visited{
        color: #f4f4f4;
        text-decoration: none;
        font-size: 12px;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3 ease;
        -moz-transition: all 0.3 ease;
        -o-transition: all 0.3 ease;
        display: block;
    }
    
    .top-nav-link li a:hover{
        text-decoration: none;
        color: rgb(10, 10, 10);
        background-color: orange;
    }

    .header-change li a:link, .header-change li a:visited{
        color: rgb(255, 255, 255);
        text-decoration: none;
        border-bottom: 2px solid transparent;
        padding: 5px 0;
        font-size: 12px;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3 ease;
        -moz-transition: all 0.3 ease;
        -o-transition: all 0.3 ease;
        display: block;
    }

    .header-change li a:hover{
        text-decoration: none;
        background-color: rgb(0, 0, 0);
        color: orange;
    }

    /* 
    * For hamburger mobile screen size
    */
    
    .hamburger{
        float: right;
        font-size: 30px;
        margin: 12px 0;
        color: #f4f4f4;
        cursor: pointer;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3 ease;
        -moz-transition: all 0.3 ease;
        -o-transition: all 0.3 ease;
        display: inline-block;
    }

    .hamburger:hover{
        color: orange;
    }

    .header-change .hamburger{
        color: rgb(255, 255, 255);
    }

    .header-change .hamburger:hover{
        color: orange;
    }

    /* 
    * Second parralax div section
    */

    .ptext{
        font-size: 16px;
    }
}
